@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

::ng-deep router-outlet + * {
  margin-top: 64px;
  flex: 1;

  @media (max-width: $mat-toolbar-breakpoint) {
    margin-top: 56px;
  }
}

.app-name {
  margin-left: 10px;
  cursor: pointer;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
